@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 100%;
  animation: gradientMove 3s linear infinite;
}

.animate-grow {
  transition: width 0.6s ease-in-out;
}

.logo-hover-effect:hover {
  filter: brightness(0.5) saturate(2) hue-rotate(270deg);
}

.toggle-checkbox:checked {
  @apply right-0 border-green-400;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
}
.toggle-checkbox {
  @apply right-4 border-gray-400 focus:outline-none;
}
.toggle-label {
  @apply block w-10 h-6 rounded-full transition-colors duration-200 ease-in-out cursor-pointer;
}


html, body {
  @apply min-h-screen;
}

body {
  @apply transition-colors duration-300;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes sparkle {
  0% { background-position: 0 0; }
  100% { background-position: 400px 400px; }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-sparkle {
  animation: sparkle 20s linear infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}